/* Reset de estilos para eliminar márgenes y rellenos predeterminados */
body,
h1,
ul {
    margin: 0;
    padding: 0;
}

/* Estilos generales para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #49481d;
    text-align: center;
}

/* Estilos para el contenedor principal */
#app {

    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el título de la lista */
.Titulo-Lista {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para el contenedor de la lista */
.Lista-Contenedor {
    text-align: left;
}

/* Estilos para el formulario de agregar un producto */
.Lista-Agregar-Lista {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#input-lista {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#boton-agregar {
    background-color: #198900;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#boton-agregar:hover {
    background-color: #0f270a;
}

/* Estilos para la lista de productos */
#lista-super {
    list-style: none;
}

.lista-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#boton-eliminar {
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}